html {
  font-size: 62.5%;
}
body {
  background-color: #f3f3ef;
  color: #111;
  font-family: 'Open Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: normal;
}
a {
  text-decoration: none;
}
p {
  line-height: 40px;
}
ul {
  list-style: none;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
h1 {
  font-size: 40px;
  font-size: 4.0rem;
  font-weight: bolder;
}
h2 {
  padding: 40px 0 40px 0;
  font-size: 64px;
  font-size: 6.4rem;
  font-weight: bolder;
  text-align: center;
  margin: 0;
}
h3 {
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: bold;
}
h2::after, h3::after {
  background-color: #d2b356;
  content: "";
  display: block;
  width: 60px;
  height: 8px;
  margin: 10px auto 0 auto;
}
h3::after {
  margin: 10px 0 0 0;
}

#index,
#profile section,
#skils section div,
#contact section {
  max-width: 1240px;
  padding: 20px 80px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  #index,
  #profile section,
  #skils section div,
  #contact section {
    padding: 20px 10px;
  }
}

/* ヘッダー */
header {
  display: flex;
  text-align: center;
  width: 100%;
  height: 60px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}
header > nav li {
  display: inline-block;
}
header > nav a {
  display: block;
  margin: 0 16px;
  padding: 16px 0;
}

/* ホーム */
#index section {
  display: flex;
  position: relative;
}
#index span {
  background: url(../../public/image/lion.png) no-repeat center top;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 537px;
  width: 546px;
  right: -80px;
}
#index h2 {
  text-align: left;
}
#index h2::before {
  background-color: #d2b356;
  content: "";
  display: block;
  width: 60px;
  height: 8px;
  margin-top: 30px;
}
#index h2::after {
  content: none;
}
@media only screen and (min-width: 769px) {
  #index section div {
    padding-top: 240px;
    max-width: 60%;
  }
}
@media only screen and (max-width: 768px) {
  #index section {
    flex-wrap: wrap;
  }
  #index section div {
    padding-top: 0;
    margin: 0 auto;
  }
  #index h2::before {
    margin: 10px auto 0 auto;
  }
  #index section div h2 {
    text-align: center;
  }
  #index span {
    position: static;
    width: 100%;
    height: 100%;
  }
}

/* プロフィール */
#profile section {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
#profile .profile-img {
  border: solid 3px #d2b356;
}
#profile p {
  flex-basis: 60%;
}

@media only screen and (max-width: 768px) {
  #profile section {
    flex-direction: column;
  }
}

/* スキル */
#skils section:nth-child(even) {
  background: #fff;
}
#skils ul {
  padding: 0 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 16px;
}
#skils li {
  margin: auto;
}
#skils li div {
  width: 125px;
  height: 125px;
  text-align: center;
  position: relative;
}
#skils li div img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  #skils ul {
    padding: 0;
  }
}

/* コンタクト */
#contact section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.google-form {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}
.google-form iframe {
  width: 640px;
  height: 799px;
  border: 0;
  margin: 0;
}
.content {
  grid-row: 1 / 1;
  grid-column: 2 / 3;
}
.embedding-twitter {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
@media only screen and (max-width: 768px) {
  #contact section {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .google-form {
    grid-row: 2 / 4;
    grid-column: 1 / 1;
    margin: 0 auto;
  }
  .content {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  .embedding-twitter {
    display: none;
  }
}

